@font-face {
	font-family: 'lateron-Regular';
	src: url('assets/fonts/lateron_latin+latin-ext_gdi.eot');
	src: url('assets/fonts/lateron_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/lateron_latin+latin-ext_gdi.woff') format('woff'),
		url('assets/fonts/lateron_latin+latin-ext_gdi.ttf') format('truetype'),
		url('assets/fonts/lateron_latin+latin-ext_gdi.svg#lateron-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F000;
}

html,
body {
	padding: 0;
	margin: 0;
}

.font-load {
	font-family: 'lateron-Regular', cursive;
	position: absolute;
}

#deploymentTimestamp {
	padding: 10px;
	margin-top: 20px;
	background-color: #f8f8f8;
	/* Light grey background */
	border: 1px solid #ddd;
	/* Light grey border */
	border-radius: 4px;
	/* Rounded corners */
	text-align: center;
	/* Center align text */
	font-size: 16px;
	/* Larger font size */
	color: #333;
	/* Darker text color for readability */
}

#game {
	margin: 20px auto;
	padding: 15px;
	background-color: #f8f8f8;
	/* Similar to deploymentTimestamp */
	border: 1px solid #ddd;
	border-radius: 4px;
	text-align: center;
	/* Adjust width as per your game's requirements */
	width: 80%;
	max-width: 600px;
	/* Maximum width for larger screens */
}

#playButton {
	display: block;
	margin: 10px auto;
	padding: 10px 20px;
	background-color: #337ab7;
	/* Bootstrap primary button color */
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#playButton:hover {
	background-color: #286090;
	/* Darker shade on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {

	#game,
	#playButton {
		width: 95%;
		/* Full width on smaller screens */
		padding: 10px;
	}
}

#currentTimestamp {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f8f8f8;
	/* Light grey background */
	border-top: 1px solid #ddd;
	/* Light grey border */
	text-align: center;
	padding: 10px;
	font-size: 16px;
}